# Specifics
.directory
busybox-x86_64
GPL2-LICENSE
IDEAS.txt

# Directories
/discord-bot/
/weather-log/
/websites/ovpn-admin/
/hanoii-explanation.txt
/hanoii-solutions.txt
/optimize.pdf
/std.pdf
/science-fair.tar.gz
/test.*
/test
