distance
deviation
dot-product
infinite_sum
summation
sqrt
possibilityFinder
findPrime
chance
matrix
inverse
area-dots
circle-intersection
gcd
interception
trapezoid
precision
e
linear-system
rpn
pythag-triples
secant
newtons
bisect
gauss-legendre
box-muller
fixed-point
simpson
nrt
rmq
rocket
factors
